<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Video Conference</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
            
                    <div class="jumbotron" style="margin-top:100px; width: 400px;"> 
                    <center><h1>Join</h1></center>
                    <br>
                    <br>
                        <form action="/room">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Username" style="height:50px;" required>
                            </div>
                            <div class="form-group">
                                <label>Room</label>
                                <input type="text" class="form-control" name="room" placeholder="Room" style="height:50px;" required>
                            </div>
                            <br>
                            <br>
                            <center><button class="btn btn-default" style="width:90px; height:50px;">Join</button></center>
                        </form>
                    </div>

                </div>
                <div class="col-sm-7">
                    <p align="justify" style="margin-top:180px; font-size:22px;">Video conferencing is a technology that allows users in different locations to hold face-to-face meetings without having to move to a single location together. This technology is particularly convenient for business users in different cities or even different countries because it saves time, expenses, and hassles associated with business travel. Uses for video conferencing include holding routine meetings, negotiating business deals, and interviewing job candidates.</p>
                    <br>
                    <p align="justify" style="font-size:22px;">In broad terms, video conferencing software is a solution that allows two or more persons to talk and see each other remotely.</p>
                </div>
            </div>
        </div>
    </body>
</html>
